./data
.DS_Store
viz/*
*.tar
*.pdf
*.zip
svg_*
*.html
models/ops/build
models/ops/dist
models/ops/*egg-info
__pycache__
results
montefloor_data
.idea
data
checkpoints
s3d_floorplan_eval/DataRW
s3d_floorplan_eval/Evaluator
s3d_floorplan_eval/S3DLoader
s3d_floorplan_eval/viz_heat

